crabhaul_opilio.csv
raw_df.csv
DEBRIEFED_CRAB_LENGTH.txt
DEBRIEFED_HAUL.txt
SNOWCRAB-1995-2020_crab_dump.csv
SNOWCRAB-1995-2020_potsum.csv
SNOWCRAB-1995-2020_retained_size_freq.csv
SNOWCRAB-2021_crab_dump.csv
SNOWCRAB-2021_potsum.csv
SNOWCRAB-2021_retained_size_freq.csv
SNOWCRAB_BYCATCH-2021_crab_dump.csv
SNOWCRAB_BYCATCH-2021_potsum.csv
SNOWCRAB_BYCATCH-2021_retained_size_freq.csv
